body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f3f3f3;
}

header {
  font-size: 24px;
  font-family: 'Ephesis', cursive;
  letter-spacing: 1px;
  background-color: #eb791c;
  padding: 1px;
  color: white;
  text-align: center;
  font-style: bolder;
  margin-bottom: 20px;
}

.display-flex{
  display: flex;
}

.map-weather{
  margin-left: 15%;
  width: 50vw;
  height: 50vh;
}

.search-bar {
  position: absolute;
  top: 160;
  left: 300;
  z-index: 1;
}

.search-button {
  position: absolute;
  top: 160;
  left: 630;
  z-index: 2;
}

.search-button button {
  height: 30px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.search-bar input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
}

.weather-container{
  background-color: #ffffff;
  margin-left: 2%;
  width: 17%;
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px ;
  text-align: center;
  line-height: 0.9em;
}

.weather-container h3 {
  margin-top: 2em;
}

.weather-container h3:last-of-type {
  margin-top: 3em;
}

.weather-container p, h4, h5 {
  text-align: left;
  margin-left: 1.5em;
}

.weather-container p {
  display: table;
  padding: 5px;
  margin-top: -5px;
  border-radius: 5px;
}

.underline{
text-decoration: underline;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

table thead tr {
  background-color: #cc6613;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 18px;
}

table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: white;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #cc6613;
}

.segment-direction{
border-radius: 2px;
padding: 0px 5px;
background-color: #5ce65c;
}

.segment:hover {
  background-color: rgba(245, 210, 165, 0.993);
}

