body{
  margin: 0;
  background-color: #f3f3f3;
}

header {
  background-color: #eb791c;
  color: white;
  padding: 1px;
  margin-bottom: 15px;
  text-align: center;
  font-style: bolder;
}

.display-flex{
  display: flex;
}

.map-weather{
  margin-left: 15%;
  
  width: 50vw;
  height: 50vh;
}

.search-bar {
  position: absolute;
  top: 130;
  left: 310;
  z-index: 1;
}

.search-button {
  position: absolute;
  top: 130;
  left: 640;
  z-index: 2;
}

.search-button button {
  height: 30px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.search-bar input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
}

.weather-container{
  background-color: white;
  margin-left: 2%;
  width: 17%;
  border: 2px solid black;
  border-radius: 5px ;
  text-align: center;
  
}

.underline{
text-decoration: underline;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

table thead tr {
  background-color: #cc6613;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 18px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: white;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #cc6613;
}


.segment:hover {
  background-color: lightgoldenrodyellow;
}
